* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  font-size: 5rem;
  margin-top: 2rem;
}

header,
h1 {
  font-family: 'Domine', serif;
  color: hsl(0, 0%, 40%);
  letter-spacing: 0.2rem;
}

/*to make arrow/p absolutely positioned with button*/
#positioningdiv {
  display: block;
  margin: 0 auto;
  position: relative;
  height: 3rem;
  width: 10rem;
}

#arrow {
  height: 4rem;
  width: auto;
  animation: bounce 3.5s infinite;
}

#arrowdiv {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: -6rem;
  height: auto;
  width: 5rem;
  transform: rotate(-45deg);
}

@keyframes bounce
{
0%  {transform: translateY(20px)}
8% {transform: translateY(20px)}
16% {transform: translateY(0px)}
24% {transform: translateY(20px)}
32% {transform: translateY(0px)}
40% {transform: translateY(20px)}
100% {transform: translateY(20px)}
}

p {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  font-weight: 500;
  margin-top: 0.5rem;
  top: 0.1rem;
  right: 4.7rem;
  width: 10rem;
  transform: rotate(45deg);
  font-family: 'Montserrat';
  font-size: 1.2rem;
  color: hsl(0, 0%, 70%);
}

#addbook {
  display: block;
  margin: 0 auto;
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
  border-radius: 0.8rem;
}

#submit {
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  margin-bottom: 2rem;
}

#addbook,
#submit {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: hsl(15, 0%, 95%);
  background-color: darksalmon;
  margin-top: 1.1rem;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

#addbook:hover,
#submit:hover,
.closebutton:hover,
#credit:hover {
  cursor: pointer;
}

#addbook:hover,
#submit:hover {
  background-color: hsl(15, 72%, 72%);
}

#section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-left: 15rem;
  margin-right: 15rem;
}

.card {
  position: relative;
  height: 15rem;
  width: 10rem;
  margin: 5px;
  padding: 1rem;
  background-color: lavender;
}

.card,
.modalcontent {
  font-family: 'Montserrat';
  border: none;
  border-radius: 0.8rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.card:hover {
  background-color: lavender;
  opacity: 50%;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5)
}

h1 {
  font-weight: bold;
  margin-bottom: 2rem;
}

.modalcontent {
  position: absolute;
  width: 20rem;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  color: hsl(0, 0%, 40%);
  /*gradient*/
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 72%, rgba(233,150,122,1) 100%);
}

.closebutton {
  float: right;
  margin: 0;
  padding: 0.2rem 0.5rem 0rem 0rem;
  font-size: 1.5rem;
}

.closebutton:hover {
  color: hsla(0, 0%, 100%, 0.85);
}

.showmodal {
  opacity: 1;
  visibility: visible;
}

/*text input fields*/
input:not([type=submit]):not([type=radio]) {
  width: 12rem;
  height: 2rem;
  padding: 0;
  margin: 1rem;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  box-shadow: inset 0px 2px 1px rgba(0, 0, 0, 0.12);
}

input[type="radio"] {
  height: 1rem;
  margin: 1rem 0.5rem;
  padding-top: 2rem;
  color: hsl(0, 0%, 40%);
}


/*radio button label*/
label {
  color: hsl(0, 0%, 50%);
  font-family: 'Montserrat';
  font-size: 1.1rem;
}

input[type="radio"],
label {
  cursor: pointer;
}

input::placeholder,
input:placeholder-shown,
input {
  text-indent: 0.5rem;
}

.remove,
.markread {
  border: none;
  font-weight: 500;
  color: hsl(0, 0%, 5%);
  background-color: transparent;
  position: absolute;
  bottom: 1rem;
}

.remove {
  left: 1.5rem;
}

.markread {
  right: 1.5rem;
}

.remove:hover,
.markread:hover {
  font-weight: bold;
  cursor: pointer;
  background-color: transparent;
}
header,
.modalcontent {
  text-align: center;
}

#section,
h1,
.modalcontent {
  margin-top: 3rem;
}

.card,
.modalcontent {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

#credit {
  border: none;
  background-color: transparent;
  color: hsl(0, 0%, 50%);
  font-size: 1.5rem;
  font-weight: bold;
  position: fixed;
  bottom: 0.4rem;
  right: 0.5rem;
}

#credit:hover {
  transform: scale(1.2, 1.2);
}

#flaticon {
  visibility: hidden;
  font-family: 'Montserrat';
  font-size: 0.8rem;
  padding: 1rem;
  width: 12rem;
  height: 4rem;
  position: absolute;
  right: 2.5rem;
  bottom: 2.5rem;
  text-align: center;
  background-color: lavender;
  border-radius: 0.4rem;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  color: hsl(0, 0%, 40%);

}

.link {
  text-decoration: none;
  color: darksalmon;
  font-weight: bold;
}